!**/src/main/**/bin/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/out/
**/*.iml
**/target/
*.class
*.ctxt
*.ear
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.DS_Store
.apt_generated
.classpath
.factorypath
.idea/
.mtj.tmp/
.project
.settings
.springBeans
.sts4-cache
.swp
.vscode/
/.nb-gradle/
/dist/
/idea/
/nbbuild/
/nbdist/
/nbproject/private/
/shelf/
/workspace.xml
bin/
hs_err_pid*
out/
replay_pid*
target/
